
<ion-content>
    <ion-item>
        <ion-searchbar placeholder="Ricerca Utente"></ion-searchbar>
        <ion-button>
            <ion-icon slot="icon-only" name="options"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-grid>  
            <ion-row>
              <ion-col size="12" text-left>
                <ion-label><b>Alleanza</b></ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col >
                <figure>
                  <img src="../assets/img/martina.png">
                  <figcaption>Martina</figcaption>
                </figure>
              </ion-col>
              <ion-col>
                <figure>
                  <img src="../assets/img/francesco.png">
                  <figcaption>Francesco</figcaption>
                </figure>
              </ion-col>
            </ion-row>
          </ion-grid>
</ion-content>
