
<ion-content>
    <ion-grid>  
        <ion-row>
          <ion-col  *ngFor="let item of this.sharedService.alliance" >
           <ion-label color="placeholder">{{item.email}}</ion-label>
           <ion-icon name="close" *ngIf="item.role != 1" (click)="removeToAlliance(item.email)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    <ion-item>
        <ion-searchbar [(ngModel)]="this.searchText" placeholder="Ricerca Utente" type="text" debounce="200" (ionChange)="getItems($event)"></ion-searchbar>
        </ion-item>
        <ion-list *ngIf="isItemAvailable">
            <ion-item *ngFor="let item of items" (click)="addToAlliance(item)">{{ item }}</ion-item>
        </ion-list>

 
</ion-content>
