<ion-content>
      <ion-list>
        <ion-item>
          <ion-label>Frequenza</ion-label>
          <ion-select name="frequency" [(ngModel)]="this.shared.problem.frequency">
            <ion-select-option value="1">1 al giorno</ion-select-option>
            <ion-select-option value="2">2 al giorno</ion-select-option>
            <ion-select-option value="3">3 al giorno</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Intensita'</ion-label>
          <ion-select name="intensity"  [(ngModel)]="this.shared.problem.intensity" >
            <ion-select-option value="1">Bassa</ion-select-option>
            <ion-select-option value="2">Media</ion-select-option>
            <ion-select-option value="3">Alta</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Durata</ion-label>
          <ion-select  name="duration"  [(ngModel)]="this.shared.problem.duration">
            <ion-select-option value="1">1 minuto</ion-select-option>
            <ion-select-option value="2">tra 2 e 5 minuti</ion-select-option>
            <ion-select-option value="3">piu' di 5 minuti</ion-select-option>
          </ion-select>
        </ion-item>
      
      </ion-list>


</ion-content>
