<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title >THEA</ion-title>
    <img src="../../assets/img/profilo.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid  style="margin-bottom:2%;">
    <ion-row align-items-center justify-content-start >
      <ion-col >

          <img float-right class="img-home" src="../../assets/img/profilo.png" alt="logo">

      </ion-col>
      <ion-col>
        <div float-left style="text-align:left; display: flex;flex-direction: column;">
         <ion-label float-left style="font-size: 30px; margin-bottom:10%;" >Mario Rossi</ion-label >
         <ion-label float-left style="margin-bottom:10%;" >Alleanza Rossi</ion-label>
         <ion-label float-left>Diagnosi: Autismo</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-title type="large">LE ATTIVITA' DI MARIO</ion-title>

  <ion-grid  >
    <ion-row align-items: stretch align-items-center justify-content-start >
      <ion-col class="cardHome" >
        <img class="img-home" src="../../assets/img/profilo.png" alt="logo">
        <ion-label color="secondary">Passare l'aspirapolvere</ion-label>
      </ion-col>
      <ion-col class="cardHome" >
        <img class="img-home" src="../../assets/img/profilo.png" alt="logo">
        <ion-label color="secondary">Passare l'aspirapolvere</ion-label>
      </ion-col>
    </ion-row>
    <ion-row align-items: stretch align-items-center justify-content-start >
      <ion-col class="cardHome" >
          <img class="img-home" src="../../assets/img/profilo.png" alt="logo">
          <ion-label color="secondary">Passare l'aspirapolvere</ion-label>
      </ion-col>
      <ion-col class="cardHome" >
        <div><ion-label color="secondary">Tutte le altre</ion-label></div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
