.img-home{
    margin-top: 3%;
    width:15%;
    align-content: center;
    margin-right: 10%;
    margin-left:10%;
}

.cardHome{
    background: #0D47A1;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

