.img-home{
    margin-top: 3%;
    width:15%;
    align-content: center;
    margin-right: 10%;
    margin-left:10%;
}


.img-card{
    width:20%;
    align-content: center;
    margin-right:auto;
    margin-left:auto;
}

ion-card {
    height: 180px;
}