<ion-header>
  <!--toolbar-->
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="home" (click)="goBack()"></ion-back-button>
    </ion-buttons>
  <ion-title style="text-align:center;"> {{title}}</ion-title>
    <ion-button slot="end" type="submit"  (click)="form.ngSubmit.emit()"><ion-icon slot="icon-only" name="save"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form #form="ngForm" [formGroup]="reportForm" method="post" class="form"  (ngSubmit)="newReport(form)">
    
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="12"> <img class="imgTask" [src]="this.global.currentTask.icon"></ion-col>
    </ion-row>
    <ion-row align-self-center>
    <ion-col size="12"><h3>{{this.global.currentTask.name}}</h3></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
      <ion-radio-group name="is_executed"  formControlName="is_executed" >
        <ion-list-header>
         Il task è stato eseguito correttamente?
        </ion-list-header>
    
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" value="true"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="false"></ion-radio>
        </ion-item>
    
        
        
      </ion-radio-group>
    </ion-col>
    </ion-row>
    <span *ngIf="!this.reportForm.value.is_executed">Campo richiesto</span>
    <ion-row>

      <ion-col>
        <h5>Data</h5>
        <ion-datetime style="padding-left: 0px !important;"display-format="DD/MM/YY"  formControlName="date_execution" placeholder="GG/MM/AA" picker-format="DD MM YY" name="date_execution"></ion-datetime>
        <span *ngIf="!this.reportForm.value.date_execution">Campo richiesto</span>
      </ion-col>
      
      <ion-col> 
        <h5>Durata</h5>
        <ion-input style="padding-left: 0px !important;" type="number" formControlName="duration" name="duration" placeholder="Durata in minuti" ></ion-input>
        <span *ngIf="!this.reportForm.value.duration">Campo richiesto</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <h3>Commento</h3>
    </ion-row>
    <ion-row>
      <ion-col> <ion-textarea style="padding: 0px" placeholder="Inserisci il testo" formControlName="description" name="description"></ion-textarea></ion-col>
    </ion-row>
  </ion-grid>
  <span *ngIf="!this.reportForm.value.description">Campo richiesto</span>
</form>

<ion-list >
<ion-list-header style="color:#7B7B7B;">Aggiungi Materiale Video</ion-list-header>
<ion-label *ngIf="videoBlob"><b>{{uploadVideoText}}</b></ion-label><br>
<ion-label *ngIf="videoBlob || fileVideoToMod">Elimina il media prima di poterlo modificare</ion-label>
<ion-item lines="none">
  <button *ngIf="!videoBlob && !fileVideoToMod" (click)="uploadVideo()" class="round" style="margin-top:1%; margin-bottom:2%; width:40px;height:40px!important"> 
    <ion-icon name="add"></ion-icon>
  </button>
  <button *ngIf="videoBlob || fileVideoToMod" (click)="deleteMedia(fileVideoToMod, true)" class="round" style="margin-top:1%; margin-bottom:2%; width:40px;height:40px!important"> 
    <ion-icon name="trash"></ion-icon>
  </button>
</ion-item>

<ion-list-header style="color:#7B7B7B;">Aggiungi Materiale Audio</ion-list-header>
<ion-label *ngIf="audioBlob"><b>{{uploadAudioText}}</b></ion-label><br>
<ion-label *ngIf="audioBlob || fileAudioToMod">Elimina il media prima di poterlo modificare</ion-label>
<ion-item lines="none">
  <button *ngIf="!audioBlob && !fileAudioToMod" (click)="uploadAudio()" class="round" style="margin-top:1%; margin-bottom:2%; width:40px;height:40px!important"> 
    <ion-icon name="add"></ion-icon>
  </button>
  <button *ngIf="audioBlob || fileAudioToMod" (click)="deleteMedia(fileAudioToMod, false)" class="round" style="margin-top:1%; margin-bottom:2%; width:40px;height:40px!important"> 
    <ion-icon name="trash"></ion-icon>
  </button>
</ion-item>

</ion-list>

</ion-content>
