<ion-header>
  <!--toolbar-->
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="home" (click)="goBack()"></ion-back-button>
    </ion-buttons>
  <ion-title style="text-align:center;"> {{title}}</ion-title>
    <ion-button slot="end" type="submit"  (click)="form.ngSubmit.emit()"><ion-icon slot="icon-only" name="save"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form #form="ngForm" [formGroup]="reportForm" method="post" class="form"  (ngSubmit)="newReport(form)">
    
  <ion-grid>
    <ion-row align-items-center>
      <ion-col size="12"> <img class="imgTask" [src]="this.global.currentTask.icon"></ion-col>
    </ion-row>
    <ion-row align-self-center>
    <ion-col size="12"><h3>{{this.global.currentTask.name}}</h3></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
      <ion-radio-group name="is_executed"  formControlName="is_executed" >
        <ion-list-header>
         Il task è stato eseguito correttamente?
        </ion-list-header>
    
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio slot="start" value="true"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="false"></ion-radio>
        </ion-item>
    
        
        
      </ion-radio-group>
    </ion-col>
    </ion-row>
    <span *ngIf="!this.reportForm.value.is_executed">Campo richiesto</span>
    <ion-row>

      <ion-col>
        <h5>Data</h5>
        <ion-datetime style="padding-left: 0px !important;"display-format="DD/MM/YY"  formControlName="date_execution" placeholder="GG/MM/AA" picker-format="DD MM YY" name="date_execution"></ion-datetime>
        <span *ngIf="!this.reportForm.value.is_executed">Campo richiesto</span>
      </ion-col>
      
      <ion-col> 
        <h5>Durata</h5>
        <ion-input style="padding-left: 0px !important;" type="number" formControlName="duration" name="duration" placeholder="Durata in minuti" ></ion-input>
        <span *ngIf="!this.reportForm.value.is_executed">Campo richiesto</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <h3>Commento</h3>
    </ion-row>
    <ion-row>
      <ion-textarea placeholder="Inserisci il testo" formControlName="description" name="description"></ion-textarea>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
