
    ion-content{
        background-color: #292152;
        background-size: cover;
        text-align: center;
        margin-right: 20%;
        margin-left: 20%;
        

    }
    img{
        margin-top: 10%;
        width:20%;
    }

   

    
    
    .registrati{
        margin-top: 20%;
    }

    
