
    ion-content{
        background-color: #292152;
        background-size: cover;
        text-align: center;
        margin-right: 100px;
        margin-left: 100px;
    }
    img{
        margin-top: 30px;
        width:120px;
    }
    ion-button{
        margin-left: 20%;
        margin-right: 20%;
    }

