
   
    img{
        margin-top: 10%;
        width:20%;
    }

   
    ion-button{
        margin-top:5%;
        width: 80%;
       
      
      }

      .facebookButton{
        --background: #3b5998;
      }
    
    
    .registrati{
        margin-top: 20%;
    }

    
