

<ion-content padding>
  <img src="../../assets/img/logo.jpg" alt="logo">
 
 
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
     
      <ion-input n type="email" placeholder="Email" ></ion-input>
      
    </ion-item>
  
    <ion-item>
      <ion-input  type="password" placeholder="Password" ></ion-input>
    </ion-item>
    <p text-center class="grayText">Forgot Password?</p>

</form>

<ion-button type="submit" shape="round" class="roundButton">Login</ion-button>

  
  <ion-button shape="round" (click)="registerPage()" class="roundButton facebookButton"><ion-icon name="logo-facebook"></ion-icon>
       Facebook
      </ion-button>
  
  <p text-center (click)="registerPage()">Don't have a account? Registrati</p>
</ion-content>