<ion-header>
  <!--toolbar-->
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-button  > <ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> Nuovo Task</ion-title>
    <ion-button slot="end" type="submit"><ion-icon slot="icon-only" name="save"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  
 
  <form #form="ngForm" method="post" class="form">
    
    
    <ion-list >
      
      <button class="round" float-center (click)="openModal()">
        Aggiungi
        icona
        <img src="" visible="hidden">
      </button>
      <ion-item style="margin-top: 30px;">
        <ion-input name="nameTask" placeholder="Nome task" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Durata"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea placeholder="Descrizione"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label> Autonomia</ion-label>
        <ion-select  interface="action-sheet">
          <ion-select-option value="aft">AFT</ion-select-option>
          <ion-select-option value="afp">AFP</ion-select-option>
          <ion-select-option value="av">AV</ion-select-option>
          <ion-select-option value="sa">SA</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-list-header>Aggiungi Materiale</ion-list-header>
      <ion-item>
        <button class="round" style="margin-top:1%;width:40px;height:40px!important"> 
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-item>
      
    </ion-list>
  </form>

</ion-content>
