<ion-header>
  <!--toolbar-->
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="home" (click)="goBack()"></ion-back-button>
    </ion-buttons>
  <ion-title style="text-align:center;">{{title}}</ion-title>
    <ion-button slot="end" type="submit" (click)="form.ngSubmit.emit()"><ion-icon slot="icon-only" name="save"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

    
    <ion-list >
      <img  [src]= "this.sharedIService.src" *ngIf="this.sharedIService.src"  (click)="openModal()" class="img-ico"> 
      <button class="round" *ngIf="!this.sharedIService.src"  float-center (click)="openModal()">
        Aggiungi
        icona
        
      </button>
      <form #form="ngForm" [formGroup]="taskForm" method="post" class="form" (ngSubmit)="sendTask(form)">
      <ion-item style="margin-top: 30px;">
        <ion-input name="name" formControlName="name" placeholder="Nome task" type="text" required></ion-input>
      </ion-item>
      <span *ngIf="!this.taskForm.value.name">Campo richiesto</span>
      <ion-item>
        <ion-input name="duration" formControlName="duration"  type="text" placeholder="Durata in minuti" required></ion-input>
      </ion-item>
      <span *ngIf="!this.taskForm.value.duration">Campo richiesto</span>
      <ion-item>
        <ion-textarea style="margin-top: 1px!important" formControlName="description"  name="description" placeholder="Descrizione" maxlength="500" required></ion-textarea>
      </ion-item>
      <span *ngIf="!this.taskForm.value.description">Campo richiesto</span>
      <ion-item>
        <ion-label color="placeholder"> Autonomia</ion-label>
        <ion-select [(ngModel)]="autonomy"  name="autonomy" interface="action-sheet" [ngModelOptions]="{standalone: true}" required>
          <ion-select-option value="0">AFT</ion-select-option>
          <ion-select-option value="1">AFP</ion-select-option>
          <ion-select-option value="2">AV</ion-select-option>
          <ion-select-option value="3">SA</ion-select-option>
        </ion-select>
      </ion-item>
      </form>

      <ion-list-header style="color:#7B7B7B;">Aggiungi Materiale Video</ion-list-header>
      <ion-label *ngIf="videoBlob"><b>{{uploadVideoText}}</b></ion-label><br>
      <ion-label *ngIf="videoBlob || fileVideoToMod">Elimina il media prima di poterlo modificare</ion-label>
      <ion-item lines="none">
        <button *ngIf="!videoBlob && !fileVideoToMod" (click)="uploadVideo()" class="round" style="margin-top:1%; margin-bottom:2%; width:40px;height:40px!important"> 
          <ion-icon name="add"></ion-icon>
        </button>
        <button *ngIf="videoBlob || fileVideoToMod" (click)="deleteMedia(fileVideoToMod, true)" class="round" style="margin-top:1%; margin-bottom:2%; width:40px;height:40px!important"> 
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>

      <ion-list-header style="color:#7B7B7B;">Aggiungi Materiale Audio</ion-list-header>
      <ion-label *ngIf="audioBlob"><b>{{uploadAudioText}}</b></ion-label><br>
      <ion-label *ngIf="audioBlob || fileAudioToMod">Elimina il media prima di poterlo modificare</ion-label>
      <ion-item lines="none">
        <button *ngIf="!audioBlob && !fileAudioToMod" (click)="uploadAudio()" class="round" style="margin-top:1%; margin-bottom:2%; width:40px;height:40px!important"> 
          <ion-icon name="add"></ion-icon>
        </button>
        <button *ngIf="audioBlob || fileAudioToMod" (click)="deleteMedia(fileAudioToMod, false)" class="round" style="margin-top:1%; margin-bottom:2%; width:40px;height:40px!important"> 
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item>
      
    </ion-list>

    <!--<ion-button (click)="AbortUpload()">cancel uploading</ion-button>-->


</ion-content>
