
<ion-content>
    <form #form="ngForm" method="post">
        
        <ion-label>Antecedente </ion-label>
      
        <ion-item>
          <ion-input placeholder='Descrizione eventuale comportamento precedente' type="text"></ion-input>
        </ion-item>

        <ion-label>Comportamento </ion-label>
      
        <ion-item>
          <ion-input placeholder='Descrizione eventuale situazione verificatasi' type="text"></ion-input>
        </ion-item>
        <ion-label>Conseguenza</ion-label>
      
        <ion-item>
          <ion-input placeholder='Descrizione eventuali conseguenze' type="text"></ion-input>
        </ion-item>
        
        
       
        
      
        
      </form>

</ion-content>
