<ion-menu contentId="content1" side="start" menuId="menuApp">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title color="secondary">THEA</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menuLaterale">
     
    <ion-list>
      <ion-item class="custom-item-nav" menu-close href="doctor-home">
        Home
      </ion-item>
      <ion-item class="custom-item-nav"  menu-close href="alleanza">
        Alleanza
      </ion-item>
      
      
      
    </ion-list>
  </ion-content>
</ion-menu>
