img{
    margin-top: 3%;
    width:10%;
    align-content: center;
    margin-right: 10%;
    margin-left:10%;
}

.spacingButton{
    margin-top: 1%;
    margin-bottom: 1%;
   
    
}


.utente{
    color:"blue";
    --color:"blue";
    --ion-text-color:blue;
}

