<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home" (click)="loginPage()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/img/profilo.png" alt="logo">
    <ion-button type="submit" class="profile" >Inserisci immagine profilo</ion-button>
   
   

  
    <form #form="ngForm"  method="post">
      <ion-item>
        <ion-input placeholder="Nome" type="text"></ion-input>
      </ion-item>

        
       
      <ion-item>
        <ion-input placeholder="Cognome" type="text"></ion-input>
      </ion-item>

      
      <ion-item>
        <ion-input placeholder="Città" type="text"></ion-input>
      </ion-item>
          
        
        <ion-item>
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
          
        
        <ion-item>
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>


        <ion-item class="utente">
            <ion-label >Tipologia Utente</ion-label>
            <ion-select  interface="popover">
              <ion-select-option value="Med">Medico</ion-select-option>
              <ion-select-option value="Ter">Terapista</ion-select-option>
              <ion-select-option value="Pz">Paziente</ion-select-option>
              <ion-select-option value="Care">Caregiver</ion-select-option>
              
            </ion-select>
          </ion-item>
          <ion-button type="submit" shape="round" class="roundButton" >Registrati</ion-button>
        
    </form>


</ion-content>
