<ion-content>

<ion-item *ngIf="videoUrl">
  <ion-grid fixed>
    <ion-row>
      <h4>Spiegazione video</h4>
    </ion-row>
      <ion-row>
        <video width="320" height="240" controls>
          <source [src]="videoUrl"  type="video/mp4">
        
        </video>
      </ion-row>
    
  </ion-grid>

  
</ion-item>

<ion-item *ngIf="!videoUrl">
  <ion-grid fixed>
    <ion-row>
      <h4>Spiegazione video</h4>
    </ion-row>
      <ion-row>
        <p>Nessuna video guida per questo task</p>
      </ion-row>
    
  </ion-grid>

  
</ion-item>
<ion-item>
  <ion-grid fixed>
    <ion-row>
      <h4>Spiegazione testuale</h4>
    </ion-row>
      <ion-row >
        <p>{{this.global.currentTask.description}}</p>
      </ion-row>
    
  </ion-grid>
    
    
</ion-item> 
<ion-item *ngIf="audioUrl">
  <ion-grid fixed>
    <ion-row>
      <h4>Spiegazione audio</h4>
    </ion-row>
      <ion-row>
        <audio controls>
        <source [src]="audioUrl" type="audio/aac">
      
      </audio>
    </ion-row>
  </ion-grid>
  
  
  
</ion-item>

<ion-item *ngIf="!audioUrl">
  <ion-grid fixed>
    <ion-row>
      <h4>Spiegazione audio</h4>
    </ion-row>
      <ion-row>
      <p>Nessun audio guida per questo task</p>
    </ion-row>
  </ion-grid>
  
  
  
</ion-item>

</ion-content>
