


<ion-header>
    <ion-toolbar>
  
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="home" (click)="comProblemaPage()" ></ion-back-button>
      </ion-buttons>
      <ion-button slot="end" type="submit" shape="round" class="roundButton" (click)="saveComProblema()">Save</ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-header>
      <ion-toolbar>
        <ion-title>Comportamento Problema</ion-title>
      </ion-toolbar>
    </ion-header>
  
  
  <ion-content>
    <ion-tabs>
      <ion-tab-bar  slot="top">
        <ion-tab-button tab="tabCp">
          
          <ion-label>Cp</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="tabMisure">
          
          <ion-label>Misure</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="tabCause">
          
          <ion-label>Analisi Funzionale
          </ion-label>
        </ion-tab-button>
  
       
  
  
  
      </ion-tab-bar>
  
  
    </ion-tabs>
  </ion-content>