
<ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{title}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="home" (click)="comProblemaPage()" ></ion-back-button>
      </ion-buttons>
      <ion-button slot="end" type="submit" (click)="saveComProblema()"><ion-icon slot="icon-only" name="save"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>
  
 
  
  
  <ion-content>
    <ion-tabs>
      <ion-tab-bar  slot="top">
        <ion-tab-button tab="tabCp">
          
          <ion-label>Cp</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="tabMisure">
          
          <ion-label>Misure</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="tabCause">
          
          <ion-label>Analisi Funzionale
          </ion-label>
        </ion-tab-button>
  
       
  
  
  
      </ion-tab-bar>
  
  
    </ion-tabs>
  </ion-content>