<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ion-menu></app-ion-menu>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <img class="paziente" src="../../assets/img/profilo.png">
      </ion-col>

      <ion-col size="6">
        
        <ion-row>
          <ion-label class="nome"> Mario Rossi</ion-label>
        </ion-row>
       
        <ion-row>
          <ion-label> Età: 23 anni</ion-label>
        </ion-row>

        <ion-row>
          <ion-label> Fisciano (SA)</ion-label>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider></ion-item-divider>
 
  <ion-grid fixed>
  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-label>
        <b>Diagnosi</b>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-label>Dottor. Cascone</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <a (click)="toggle()"> {{buttonName}}</a>
        <ng-container *ngIf="show">
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
      </ng-container> 
        
      </p>
    </ion-col>
  </ion-row>
 </ion-grid>
 <ion-item-divider></ion-item-divider>
 <ion-grid>
  
 
   <ion-row>
     <ion-col size="6">
      <ion-button shape="round" size="small">
        <ion-icon name="warning" large></ion-icon>
      </ion-button>
     </ion-col>
    
     <ion-col size="6">
      <ion-button shape="round" size="small">
        <ion-icon name="paper"></ion-icon>
      </ion-button>
     </ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="6" class="ion-text-center">
      <ion-label>Comportamenti problema</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-label>Lista task</ion-label>
    </ion-col>
   </ion-row>
 </ion-grid>

  <ion-item-divider></ion-item-divider>
    
    <ion-grid>  
      <ion-row>
        <ion-col size="12" text-left>
          <ion-label><b>Alleanza</b></ion-label>
        </ion-col>
      </ion-row>
    <ion-row align-items-center style="margin-top:3%;">
      <ion-col size="3">
        
          <ion-avatar>
            <img src="../assets/img/francesco.png">
          </ion-avatar>
        
      </ion-col>
      <ion-col size="3">
        
          <ion-avatar>
            <img src="../assets/img/martina.png">
          </ion-avatar>
        
      </ion-col>
        <ion-col size="3"> 
        
          <ion-avatar>
            <img src="../assets/img/martina.png">
          </ion-avatar>
        </ion-col>
        <ion-col size="3"> 
        
          <ion-avatar>
            <img src="../assets/img/martina.png">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col size="3">
          <ion-label>Francesco</ion-label>
        </ion-col>
        <ion-col size="3" text-center>
          <ion-label>Martina</ion-label>
        </ion-col>
        <ion-col size="3" text-center>
          <ion-label>Francesco</ion-label>
        </ion-col>
        <ion-col size="3" text-center>
          <ion-label>Martina</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>