.nome{
    margin-top: 20%;
    margin-bottom: 10%;
    
}
.paziente{
    width: 50%;
    
}
.dottore{
    margin-left: 4%;
    
}
.data{
    margin-left: 1%;
   
}

.diagnosi{
   margin-left: 7%;
   margin-top: 1%;
}
.labelAlleanza{
   
   font-size: 80%;
}
.imgAlleanza{
    width: 70%;
    height: 70%;
   
}
ion-button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:  1px solid blue;
    background-color:#0D47A1;
}
ion-icon{
    font-size: 40px;
}
ion-item-divider{
    margin-top: 0px;
    min-height: 1px!important;
  }

