<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="home" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
          
          <ion-title style="text-align:center;" >{{title}}</ion-title>
          <ion-icon *ngIf="this.global.currentUser.user_type == 2" name="create" (click)="modify()"></ion-icon>
      </ion-row>
       
  </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >
    <ion-row justify-content-center align-items-center>
      <ion-col size="6">
        <ion-avatar >
          <img [src]="this.paziente.profile_pic"/>
      </ion-avatar>
      </ion-col>

      <ion-col size="6">
        
        <ion-row>
          <ion-col>
            <ion-label >{{this.paziente.name }} {{this.paziente.surname }}</ion-label>
          </ion-col>
        </ion-row>
       
        <ion-row>
          <ion-col>
            <ion-label> Data di nascita: {{this.paziente.birth_date | date: 'dd/MM/yyyy' }}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label> {{this.paziente.address }}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label> {{this.paziente.height }} cm</ion-label>
          </ion-col>
          <ion-col>
            <ion-label> {{this.paziente.weight }} kg</ion-label>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider style="margin-top: 3%;"></ion-item-divider>
 
  <ion-grid>
  <ion-row>
    <ion-col size="12" class="ion-text-start">
      <ion-label>
        <b>Diagnosi</b>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row align-items-start>
    <ion-col size="12" class="ion-text-start">
      <p>
        {{this.paziente.diagnosis }}
        <!--a (click)="toggle()"> {{buttonName}}</a>
        <ng-container *ngIf="show">
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
      </ng-container --> 
        
      </p>
    </ion-col>
  </ion-row>
 </ion-grid>
 <ion-item-divider *ngIf="this.global.currentUser.user_type == 2"></ion-item-divider>
 <ion-grid *ngIf="this.global.currentUser.user_type == 2">
   <ion-row>
     <ion-col size="6">
      <ion-button shape="round" size="small" (click)="ProblemBehPage()">
        <ion-icon name="warning" large></ion-icon>
      </ion-button>
     </ion-col>
    
     <ion-col size="6">
      <ion-button shape="round" size="small" (click)="TaskListPage()">
        <ion-icon name="paper" ></ion-icon>
      </ion-button>
     </ion-col>
   </ion-row>
   <ion-row>
    <ion-col size="6" class="ion-text-center">
      <ion-label>Comportamenti problema</ion-label>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-label>Lista task</ion-label>
    </ion-col>
   </ion-row>
 </ion-grid>

  <ion-item-divider *ngIf="this.global.currentUser.user_type == 2" style="margin-top: 3%;"></ion-item-divider>
    
    <ion-grid *ngIf="this.global.currentUser.user_type == 2">  
      <ion-row>
        <ion-col size="12" text-left>
          <ion-label><b>Alleanza</b></ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
    </ion-row>
    </ion-grid>
    
    <ion-list>
      <ion-item>
        <ion-grid>
          <ion-row  align-items-center *ngFor="let item of paziente.users_in_alliance"> 
            <ion-col class="justify-content-around" size="2">
              <ion-avatar>
                <img  [src]="item.profile_pic">
              </ion-avatar>
            </ion-col>
            <ion-col size="7" offset="1">
              <ion-label> <b>{{item.name}} {{item.surname}}</b> </ion-label>
              <p> {{role[item.user_type]}} <br>
                Tel: {{item.telephone}}
              </p>
            </ion-col>
            <ion-col  size="2">
              <ion-buttons float-right style="text-align:right;">
                <img src="../../assets/img/whatsapp.png" height="50" width="50" >
               </ion-buttons>
             
            </ion-col>
          </ion-row >
       </ion-grid>  
      </ion-item>
      
    </ion-list>
</ion-content>