<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="home" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
          
          <ion-title style="text-align:center;" >{{title}}</ion-title>
          <ion-icon *ngIf="this.global.currentUser.user_type > 0" name="create" (click)="modify()"></ion-icon>
      </ion-row>
       
  </ion-grid> 
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-router-outlet id="content1" main></ion-router-outlet>
 

<ion-content>
  <ion-tabs>
    <ion-tab-bar  slot="top">
      <ion-tab-button tab="tabDettagli">
        
        <ion-label>Dettagli</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tabGuida">
        
        <ion-label>Guida</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tabReport">
        
        <ion-label>Report</ion-label>
      </ion-tab-button>



    </ion-tab-bar>


  </ion-tabs>
</ion-content>