img{
    width: 5%;
    height: 5%;
}
ion-tab-button{
    max-width:100% !important;   
    //--color-selected: #7B7B7B !important;
}

ion-icon{
    font-size: 40px;
}

.tab-item-active {
    background:green;
} 