<ion-header>
  <app-toolbar [title]="title"></app-toolbar>
</ion-header>

<ion-content>
  <app-ion-menu></app-ion-menu>
  
  <ion-router-outlet id="content1" main></ion-router-outlet>
 

<ion-content>
  <ion-tabs>
    <ion-tab-bar  slot="top">
      <ion-tab-button tab="tabDettagli">
        
        <ion-label>Dettagli</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tabGuida">
        
        <ion-label>Guida</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tabReport">
        
        <ion-label>Report</ion-label>
      </ion-tab-button>



    </ion-tab-bar>


  </ion-tabs>
</ion-content>