<ion-header>
  <app-toolbar [title]="title" [noLeftIcon]=true></app-toolbar>
</ion-header>

<ion-content>
  <app-ion-menu></app-ion-menu>
  
  <ion-router-outlet id="content1" main></ion-router-outlet>
  
<ion-list>
  <ion-item *ngFor="let item of response" (click)="openDetail(item)" ion-long-press [interval]="500" (longPressed)="presentAlertConfirm(item.patient)">
    <ion-grid>
      <ion-row  align-items-center>
        <ion-col size="2">
          <ion-avatar >
            <img [src]="item?.patient.profile_pic"/>
        </ion-avatar>
        </ion-col>
        <ion-col size="8" offset="1">
          <ion-label>
            <b>{{item?.patient.name}} {{item?.patient.surname}}</b>
          </ion-label>
          <ion-label>{{item?.patient.address}}</ion-label> 

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
</ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="this.globalService.currentUser.user_type == 2">
    <ion-fab-button color="primary" (click)="inserisciPaziente()">
      <ion-icon name="add" color="secondary" ></ion-icon>
    </ion-fab-button>
  </ion-fab>  
 

  <ion-content>
    <ion-list>

    </ion-list>
     
  </ion-content>

</ion-content>

