<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
          
          <ion-title style="text-align:center;" >Lista Pazienti</ion-title>
           <img class="imgProfilo" src="../../assets/img/profilo.png">
      </ion-row>
       
  </ion-grid> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ion-menu></app-ion-menu>
  
  <ion-router-outlet id="content1" main></ion-router-outlet>
  
<ion-list>
  <ion-item *ngFor="let item of response" (click)="openDetail(item)">
    <ion-grid>
      <ion-row  align-items-center>
        <ion-col size="2">
          <img src="../../assets/img/martina.png">
        </ion-col>
        <ion-col size="8" offset="1">
          <ion-label>
            <b>{{item?.patient.name}} {{item?.patient.surname}}</b>
          </ion-label>
          <ion-label>Diagnosi: {{item?.patient.diagnosis}}</ion-label> 

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
</ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="this.globalService.currentUser.user_type > 1">
    <ion-fab-button color="primary" (click)="inserisciPaziente()">
      <ion-icon name="add" color="secondary" ></ion-icon>
    </ion-fab-button>
  </ion-fab>  
 

  <ion-content>
    <ion-list>

    </ion-list>
     
  </ion-content>

</ion-content>

