.menuLaterale{
    align-content: center;
    img{
        margin-right: 10%;
    }
    ion-ist{
        background: black;
    }
    }
    .item{
        padding-top: 10px;
        padding-bottom: 10px;
    }