ion-title{
    float:left;
}
div{
    
    --background: black;
}
ion-item-divider{
    background-color:black;
    margin-left: 10%;
    padding-right:150px;

}
ion-card{
    --color:white;
    border:2px solid transparent;
    border-radius: 20px;
}
.alta{
    
        --background:red;
        
    
}

.media{
    --background:orange;
}
.bassa{
    --background:green;
}