<ion-header>
  <!--toolbar-->
  <app-toolbar [title]="title"></app-toolbar>
</ion-header>

<ion-content>
 
  <!--page content-->
<ion-content>
  
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row  align-items-center *ngFor="let item of this.global.currentPatient.users_in_alliance"> 
          <ion-col class="justify-content-around" size="2">
            <ion-avatar>
              <img  [src]="item.profile_pic">
            </ion-avatar>
          </ion-col>
          <ion-col size="7" offset="1">
            <ion-label> <b>{{item.name}} {{item.surname}}</b> </ion-label>
            <p> {{role[item.user_type]}} <br>
              Tel: {{item.telephone}}
            </p>
          </ion-col>
          <ion-col  size="2">
            <ion-buttons float-right style="text-align:right;">
              <img src="../../assets/img/whatsapp.png" height="50" width="50" >
             </ion-buttons>
           
          </ion-col>
        </ion-row >
     </ion-grid>  
    </ion-item>
    
  </ion-list>

</ion-content>
