<ion-content>
    
      
        
    <ion-list>
        <ion-radio-group>
          <ion-list-header>
           Frequenza
          </ion-list-header>
      
          <ion-item>
            <ion-label>1 al giorno</ion-label>
            <ion-radio></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>2 al giorno</ion-label>
            <ion-radio></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>3 al giorno</ion-label>
            <ion-radio></ion-radio>
          </ion-item>
      
          
          
        </ion-radio-group>
      </ion-list>
      <ion-list>
          <ion-radio-group>
            <ion-list-header>
             Intensità
            </ion-list-header>
        
            <ion-item>
              <ion-label>Bassa</ion-label>
              <ion-radio></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Media</ion-label>
              <ion-radio></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Alta</ion-label>
              <ion-radio ></ion-radio>
            </ion-item>
        
            
            
          </ion-radio-group>
        </ion-list>
        <ion-list>
            <ion-radio-group>
              <ion-list-header>
               Durata
              </ion-list-header>
          
              <ion-item>
                <ion-label>Meno di 1 minuto</ion-label>
                <ion-radio></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>tra i 2 e i 5 minuti</ion-label>
                <ion-radio></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>più di 5 min</ion-label>
                <ion-radio></ion-radio>
              </ion-item>
          
              
              
            </ion-radio-group>
          </ion-list>
      


</ion-content>
