<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>STORICO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <H1>Storico progressi </H1>
  <div class="ion-padding">
    <div style="display: block"><canvas id="yudhatp-chart"></canvas></div>
  </div>

  <H1>Progressi attuali </H1>
  
 
  <p class="minuti">Minuti: </p>
<fieldset class="rating">
  
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars">6</label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars">12</label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars">18</label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars">24</label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star">30</label>
</fieldset>

  
</ion-content>