img{
   float: right;
   width: 50px;
   margin-right: 2%;
}
ion-title{
    margin-top: 1%;
}

.menuLaterale{
    align-content: center;
    img{
        margin-right: 10%;
    }
    ion-ist{
        background: black;
    }
    }