// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

 /** /** primary **/
  --ion-color-primary: #0D47A1;

  /** secondary **/
  --ion-color-secondary: #FFFFFF;

  /**placeholder**/
  --ion-color-placeholder: #7B7B7B;
  /** tertiary**/
  --ion-color-tertiary: #5472d3;
}
.ion-color-placeholder{
  --ion-color-base: var(--ion-color-placeholder);
}
.ion-color-tertiary{
  --ion-color-base: var(--ion-color-tertiary);
}
ion-content{
  background-size: cover;
  text-align: center;

  //margin-right: 20%;
  //margin-left: 20%;
}
.return{
  width:2%;
}
ion-input{
  border: 20%;
  border-color: white;
  
}

/**form{
  ion-item{
      border: solid 2px;
      border-radius: 10px;
      margin-top: 1%;
      border-color:#8B8B8B;
      --background: #F1F1F1;
      margin-left:5%;
      margin-right: 5%;
   }
   button{
     color: #7B7B7B;
     --ion-text-color:white;
   }
  }
**/
   
   .roundButton{
    border: solid 1px;
    border-radius: 25px;
    border-color:#8B8B8B;

 }
 ion-toolbar{
    ion-avatar{
      float: right;

  }
  ion-title{
    font-size: 100%;
  }
 }
 

 ion-avatar {
  margin: auto;
}
 ion-back-button{
  color: light;
 }
 ion-menu-button{
  color: #FFFFFF;
}
.menuLaterale{
  align-content: center;
  img{
      margin-right: 10%;
  }
  ion-ist{
      background: black;
  }
  }

  ion-tabs{
   ion-title{
    font-size: 150%;
    color: #f1f1f1;
    text-align: center;
}
   ion-tab-button{
    --color-selected:white;
    --color:#FFFFFF80;
      background-color:#0D47A1; 
   }
   
  }
  .form{
    margin-top: 2%;
  }

  ion-card {
    touch-action: auto !important;
  }