<ion-header>
  <ion-toolbar color="primary">
    <ion-title >THEA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row align-items-center>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
         
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>
