<ion-content>

  <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item>
              <ion-input placeholder="Nome" [(ngModel)]=" this.sharedService.nomeCognome" type="text"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-input placeholder="Cognome" [(ngModel)]=" this.sharedService.nomeCognome" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>     
     <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input placeholder="Indirizzo" [(ngModel)]=" this.sharedService.indirizzo" type="text" name="indirizzo"></ion-input>
        </ion-item>
      </ion-col>
     </ion-row>   
    <ion-row><ion-col size="12">
      <ion-item>
        <ion-label color="placeholder"> Data di nascita</ion-label>
        <ion-datetime display-format="DD MM YY" [(ngModel)]=" this.sharedService.dataNascita"placeholder="GG/MM/AA" picker-format="DD MM YY" name="dataNascita"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-input type="text" placeholder="Altezza (m)" [(ngModel)]=" this.sharedService.altezza"name="altezza"></ion-input>
      </ion-item>
  </ion-col>
</ion-row>  
<ion-row>
  <ion-col size="12">
    <ion-item>
      <ion-input type="text" placeholder="Peso (Kg)" name="peso" [(ngModel)]=" this.sharedService.peso"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>    
  </ion-grid>
    
    <ion-button type="submit" shape="round" class="roundButton" name="imgProfilo" >
      <ion-icon color="secondary" name="person"></ion-icon> 
      <ion-label style="margin-left: 3%;">Inserisci immagine</ion-label>
  </ion-button>
  
  

</ion-content>