
<ion-content>
    <form #form="ngForm" method="post">
        
        <ion-label>Antecedente </ion-label>
      
        <ion-item>
          <ion-input name="antecedent" [(ngModel)]="this.shared.problem.antecedent" placeholder='Descrizione eventuale comportamento precedente' type="text"></ion-input>
        </ion-item>

        <ion-label>Comportamento </ion-label>
      
        <ion-item>
          <ion-input  name="behavior" [(ngModel)]="this.shared.problem.behavior" placeholder='Descrizione eventuale situazione verificatasi' type="text"></ion-input>
        </ion-item>


        <ion-label>Conseguenza</ion-label>
      
        <ion-item>
          <ion-input name="consequence"  [(ngModel)]="this.shared.problem.consequence"  placeholder='Descrizione eventuali conseguenze' type="text"></ion-input>
        </ion-item>
        
        
       
        
      
        
      </form>

</ion-content>
