<ion-header>
  <ion-toolbar color="primary">
    <ion-title >THEA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../assets/img/LOGOthea1.png" alt="logo">
 
 
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-item>
     
      <ion-input required type="email" placeholder="Email" ngModel name="email"></ion-input>
      
    </ion-item>
  
    <ion-item>
      
      <ion-input required type="password" placeholder="Password" ngModel name="password"></ion-input>
    </ion-item>
    <ion-row align-items-center>
      <ion-col size="12">
        <a text-center (click)="recoveryPassword()">Password dimenticata?</a>
      </ion-col>
      
    </ion-row>
    
    <ion-button  [disabled]="!form.form.valid" type="submit">Login</ion-button>
</form>

  <p text-center >Non sei registrato? <a (click)="registerPage()">Registrati</a></p>
  <ion-button (click)="Page()">vai</ion-button>
</ion-content>