<ion-header>
  <ion-toolbar color="primary">
    <ion-title >THEA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../assets/img/LOGOthea1.png" alt="logo">
 
 
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-item>
     
      <ion-input required type="email" placeholder="Email" ngModel name="email"></ion-input>
      
    </ion-item>
  
    <ion-item>
      
      <ion-input required type="password" placeholder="Password" ngModel name="password"></ion-input>
    </ion-item>
    <p text-center class="grayText">Password dimenticata?</p>
    <ion-button  [disabled]="!form.form.valid" type="submit">Login</ion-button>
</form>

  <!--ion-button  (click)="registerPage()" class="facebookButton"><ion-icon name="logo-facebook"></ion-icon>
       Facebook
      </ion-button-->
  
  <p text-center (click)="registerPage()">Non hai un account? <b>Registrati</b></p>
  <ion-button (click)="Page()">Vai</ion-button>
</ion-content>