
   
    img{
        width:60%;
    }

   ion-title{
     text-align: center;
   }
    ion-button{
        width: 30%;
       
      
      }

      .facebookButton{
        --background: #3b5998;
      }
    
    


    
