<ion-header>
  <ion-toolbar color="primary">
    <ion-title >THEA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="../../assets/img/LOGOthea1.png" alt="logo">
 
 
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
     
      <ion-input n type="email" placeholder="Email" ></ion-input>
      
    </ion-item>
  
    <ion-item>
      <ion-input  type="password" placeholder="Password" ></ion-input>
    </ion-item>
    <p text-center class="grayText">Password dimenticata?</p>

</form>

<ion-button (click)="goHome()" type="submit">Login</ion-button>
  <br/>
  
  <ion-button  (click)="registerPage()" class="facebookButton"><ion-icon name="logo-facebook"></ion-icon>
       Facebook
      </ion-button>
  
  <p text-center (click)="registerPage()">Non hai un account? Registrati</p>
</ion-content>