
<ion-content>
    <form #form="ngForm" method="post">
        
        <ion-label>Nome comportamento </ion-label>
      
        <ion-item>
          <ion-select placeholder="Tipologia" interface="popover" required name="name" [(ngModel)]="this.shared.problem.name">
          <ion-select-option *ngFor="let item of type; index as i" [value]="i" >{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
        <span *ngIf="!this.shared.problem.name">Campo richiesto</span>
        
        <ion-label>Data</ion-label>
        <ion-item >
          <ion-datetime name="date"  display-format="DD MM YY" [(ngModel)]="this.shared.problem.date" placeholder="GG/MM/AA" picker-format="DD MM YY" name="dataNascita"></ion-datetime>
        </ion-item>
        <span *ngIf="!this.shared.problem.date">Campo richiesto</span>

        <ion-label>Descrizione Comportamaneto</ion-label>
        <ion-item>
          <ion-textarea name="desctiption"  [(ngModel)]="this.shared.problem.description" placeholder="Inserisci una descrizione..." type="text"></ion-textarea>
        </ion-item>
        
        
      
        
      </form>

</ion-content>
