
<ion-content>
      <ion-list>
        
      
        <ion-item>
          
          <ion-select class="select-left" placeholder="Tipologia" name="name" [(ngModel)]="this.shared.problem.name" [selectedText]="type[this.shared.problem.name]">
            <ion-select-option *ngFor="let item of type; index as i" [value]="i" >{{item}}</ ion-select-option>
          </ion-select>
        </ion-item>
        <span *ngIf="!this.shared.problem.name">Campo richiesto</span>
        
        
        <ion-item >
          <ion-label color="placeholder">Data</ion-label>
          <ion-datetime name="date"  display-format="DD MM YY" [(ngModel)]="this.shared.problem.date" placeholder="GG/MM/AA" picker-format="DD MM YY" name="dataNascita"></ion-datetime>
        </ion-item>
        <span *ngIf="!this.shared.problem.date">Campo richiesto</span>

        
        <ion-item>
          
          <ion-textarea name="desctiption"  [(ngModel)]="this.shared.problem.description" placeholder="Descrizione" type="text"></ion-textarea>
        </ion-item>
      </ion-list>
      
        
      
    

</ion-content>
