
<ion-content>
    <form #form="ngForm" method="post">
        
        <ion-label>Nome comportamento </ion-label>
      
        <ion-item>
          <ion-input placeholder='Nome comportamento' type="text"></ion-input>
        </ion-item>
        
        <ion-label>Data</ion-label>
        <ion-item >
            
          <ion-input type="date" placeholder="gg/mm/aaaa"></ion-input>
        </ion-item>
        <ion-label>Descrizione Comportamaneto</ion-label>
        <ion-item>
          <ion-textarea placeholder="Inserisci una descrizione..." type="text"></ion-textarea>
        </ion-item>
        
      
        
      </form>

</ion-content>
