<ion-header>
  <app-toolbar [title]="title"></app-toolbar>
</ion-header>




<ion-content>

  

  <ion-router-outlet id="content1" main></ion-router-outlet>


<ion-item>
  <ion-searchbar placeholder="Ricerca Comportamento"></ion-searchbar>
  <ion-button (click)="openModal()">
      <ion-icon slot="icon-only" name="options" ></ion-icon>
    </ion-button>
  </ion-item>

<ion-row [ngSwitch]="sharedFilterService.filter">
  <ion-col size="4">
    <ion-chip color="primary" *ngSwitchCase="'frequenza'" >
      <ion-label>Frequenza: </ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </ion-col>
  <ion-col size="4">
    <ion-chip color="primary" *ngSwitchCase="'intensita'">
      <ion-label>Intensita':  </ion-label>
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </ion-col>
  <ion-col size="4">
    <ion-chip color="primary"  *ngSwitchCase="'durata'">
      <ion-label>Durata:</ion-label> 
      <ion-icon name="close"></ion-icon>
    </ion-chip>
  </ion-col>
</ion-row>
  

  <ion-card *ngFor="let problem of response" (click)=openProblem(problem)>
    <ion-card-header>
      <ion-row>
        <ion-col>
          <div>
          <h1>{{problem.name | transformType}}</h1>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <H1>{{problem.date | date: 'dd/MM/yyyy' }}</H1>
          </div>
        </ion-col>
      </ion-row>

    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col>
          <div>Frequenza</div>
        </ion-col>
        <ion-col>
          <div>Intensità</div>
        </ion-col>
        <ion-col>
          <div>Durata</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="problem.frequency == 1">Una volta</div>
          <div *ngIf="problem.frequency == 2">Più volte</div>
          <div *ngIf="problem.frequency == 3">Spesso</div>
        </ion-col>
        <ion-col col-6>
          <ion-icon name="radio-button-on" color="success"  *ngIf="problem.intensity == 1"></ion-icon>
          <ion-icon name="radio-button-on" *ngIf="problem.intensity != 1"></ion-icon>
          <ion-icon name="radio-button-on" color="warning"  *ngIf="problem.intensity == 2"></ion-icon>
          <ion-icon name="radio-button-on" *ngIf="problem.intensity != 2"></ion-icon>
          <ion-icon name="radio-button-on" color="danger"  *ngIf="problem.intensity == 3"></ion-icon>
          <ion-icon name="radio-button-on" *ngIf="problem.intensity != 3"></ion-icon>
        </ion-col>
        <ion-col>
          <div *ngIf="problem.duration == 1">Meno di 1 minuto</div>
          <div *ngIf="problem.duration == 2">Tra i 2 e i 5 minuti</div>
          <div *ngIf="problem.duration == 3">Più di 5 minuti</div>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="newCompProblema()">
    <ion-fab-button color="primary">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>


  </ion-fab>




</ion-content>