<ion-header>
  <app-toolbar [title]="title"></app-toolbar>
</ion-header>




<ion-content>

  <app-ion-menu></app-ion-menu>

  <ion-router-outlet id="content1" main></ion-router-outlet>


<ion-item>
  <ion-searchbar placeholder="Ricerca Comportamento"></ion-searchbar>
  <ion-button>
      <ion-icon slot="icon-only" name="options"></ion-icon>
    </ion-button>
  </ion-item>


  <ion-card *ngFor="let problem of response">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <div>
          <h1>{{problem.name}}</h1>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <H1>{{problem.date | date: 'dd/MM/yyyy' }}</H1>
          </div>
        </ion-col>
      </ion-row>

    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col>
          <div>Frequenza</div>
        </ion-col>
        <ion-col>
          <div>Intensità</div>
        </ion-col>
        <ion-col>
          <div>Durata</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>2 al girno</div>
        </ion-col>
        <ion-col col-6>
          <ion-icon name="radio-button-on" color="success"  *ngIf="problem.intensity == 1"></ion-icon>
          <ion-icon name="radio-button-on" *ngIf="problem.intensity != 1"></ion-icon>
          <ion-icon name="radio-button-on" color="warning"  *ngIf="problem.intensity == 2"></ion-icon>
          <ion-icon name="radio-button-on" *ngIf="problem.intensity != 2"></ion-icon>
          <ion-icon name="radio-button-on" color="danger"  *ngIf="problem.intensity == 3"></ion-icon>
          <ion-icon name="radio-button-on" *ngIf="problem.intensity != 3"></ion-icon>
        </ion-col>
        <ion-col>
          <div>tra 2 e 5</div>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="newCompProblema()">
    <ion-fab-button color="primary">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>


  </ion-fab>




</ion-content>