.img-home{
    margin-top: 3%;
    width:50%;
    align-content: center;
    margin-right: 10%;
    
}


.img-card{
    width:30%;
    align-content: center;
    margin-right:auto;
    margin-left:auto;
}

.img-icon{
    width:50%;
    align-content: center;
}
.imgProfilo{
    width: 10%;
    height: 10%;
}
ion-button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:  1px solid blue;
    background-color:#0D47A1;
}
ion-icon{
    font-size: 40px;
}
.card{
    text-align: center;
}