.img-home{
    margin-top: 3%;
    width:35%;
    align-content: center;
    margin-right: 10%;
    margin-left:10%;
}


.img-card{
    width:30%;
    align-content: center;
    margin-right:auto;
    margin-left:auto;
}

.img-icon{
    width:50%;
    align-content: center;
}
.imgProfilo{
    width: 5%;
    height: 5%;
}
