<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>   
          <ion-title style="text-align:center;" >THEA</ion-title>
          <img class="imgProfilo" src="../../assets/img/profilo.png">
      </ion-row>
       
  </ion-grid> 
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-ion-menu></app-ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
  <!--bio profilo-->
  <ion-grid  style="margin-bottom:2%;">
    <ion-row align-items-center justify-content-center>
      <ion-col size="6" align-self-center>
        <img float-right class="img-home" src="../../assets/img/profilo.png" alt="logo">
    </ion-col>
    <ion-col size="6" align-self-center>
      <ion-row>
        <ion-label>Nome: {{this.global.currentPatient.name}} {{this.global.currentPatient.surname}}</ion-label>
      </ion-row>
    
      <ion-row>Diagnosi: {{this.global.currentPatient.diagnosis}} </ion-row>
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-title type="large">LE ATTIVITA' DI MARIO</ion-title>
<!-- tasks-->
  <ion-grid style="margin-bottom: 2%;" fixed >
    <ion-row align-items-center justify-content-start >
      <ion-col *ngFor="let item of this.global.currentPatient.tasks | slice:0:3;">
        <ion-card color="primary" align-items-center class="card" (click)="openTask(item)">
          <ion-card-content>
            <div><img class="img-card" [src]=item.icon alt="logo"></div>
           {{item.name}}
          </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col >
        <ion-card color="primary"  class="card" (click)="TaskListPage()" style="height: 101.5px; width: 145px; ">
          <ion-card-content style="padding-top: 30%;">
            <ion-label text-center >Tutte le altre</ion-label>

          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<!-- bottoni comportamento alleanza-->
  <ion-grid  style="margin-top: 2%;" >
    <ion-row>
      <ion-col size="6">
       <ion-button shape="round" size="small">
         <ion-icon name="warning" large></ion-icon>
       </ion-button>
      </ion-col>
     
      <ion-col size="6">
       <ion-button (click)="alleanzaPage()" shape="round" size="small">
         <ion-icon name="people" ></ion-icon>
       </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
     <ion-col size="6" class="ion-text-center">
       <ion-label>Comportamenti problema</ion-label>
     </ion-col>
     <ion-col size="6" class="ion-text-center">
       <ion-label>Alleanza</ion-label>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
