<ion-header>
  <ion-toolbar color="primary">

    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col>
          <ion-buttons >
            <ion-back-button color="secondary" defaultHref="home" (click)="goBack()"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-title style="text-align:center;">{{title}}</ion-title>
        </ion-col>
        <ion-col>
          <ion-avatar>
          <img class="imgProfilo" [src]="this.global.currentUser.profile_pic" (click)="openProfile()"></ion-avatar>
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center class="ion-margin-top" (click)="openProfilePaziente()">
      <ion-col size="12">
        <img class="imgProfilo" [src]="this.global.currentPatient.profile_pic" width="100" height="100">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <ion-label class="text-center">
            <b> {{this.global.currentPatient.name}} {{this.global.currentPatient.surname}} </b>
          </ion-label>
      </ion-col>
    </ion-row>
    <!--task-->
    <ion-row class="ion-margin-top">
      <ion-title style="text-transform: uppercase;"> LE ATTIVITA' DI {{this.global.currentPatient.name}}</ion-title>
    </ion-row>
    <ion-row align-items-center justify-content-start >
      <ion-col size="6" *ngFor="let item of this.global.currentPatient.tasks | slice:0:3;">
        <ion-card align-items-center class="card" (click)="openTask(item)">
          <ion-card-content>
            <div><img class="img-card" [src]=item.icon alt="logo"></div>
           {{item.name}}
          </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card align-items-center class="card" (click)="TaskListPage()">
          <ion-card-content>
            <a  color="primary"> Mostra la lista</a>
          </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col class="text-center">
        
      </ion-col>
    </ion-row>
    <!--alleanza-->
    <ion-row>
      <ion-col size="6">
       <ion-button shape="round" size="small" (click)="comportamentiProblemaPage()">
         <ion-icon name="warning" large></ion-icon>
       </ion-button>
      </ion-col>
     
      <ion-col size="6">
       <ion-button (click)="alleanzaPage()" shape="round" size="small">
         <ion-icon name="people" ></ion-icon>
       </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
     <ion-col size="6" class="ion-text-center" (click)="comportamentiProblemaPage()">
       <ion-label>Comportamenti problema</ion-label>
     </ion-col>
     <ion-col size="6" class="ion-text-center" (click)="alleanzaPage()">
       <ion-label>Alleanza</ion-label>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
