<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
          
          <ion-title style="text-align:center;" >THEA</ion-title>
          <img src="../../assets/img/profilo.png">
      </ion-row>
       
  </ion-grid> 
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-ion-menu></app-ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
  <ion-grid  style="margin-bottom:2%;">
    <ion-row align-items-center justify-content-start >
      <ion-col >

          <img float-right class="img-home" src="../../assets/img/profilo.png" alt="logo">

      </ion-col>
      <ion-col>
        <div float-left style="text-align:left; display: flex;flex-direction: column;">
         <ion-label float-left style="font-size: 25px; margin-bottom:5%;" >Mario Rossi</ion-label >
         <ion-label float-left style="margin-bottom:5%;" >Alleanza Rossi</ion-label>
         <ion-label float-left>Diagnosi: Autismo</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-title type="large">LE ATTIVITA' DI MARIO</ion-title>

  <ion-grid style="margin-bottom: 2%;" >
    <ion-row align-items-center justify-content-start >
      <ion-col  >
        <ion-card color="primary" align-items-center class="card">
          <ion-card-content>
            <div><img class="img-card" src="../../assets/img/profilo.png" alt="logo"></div>
           Passare l'aspirapolvere
          </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col >
        <ion-card color="primary" align-items-center class="card">
          <ion-card-content>
            <div><img class="img-card" src="../../assets/img/profilo.png" alt="logo"></div>
           Passare l'aspirapolvere
          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
    <ion-row  align-items-center justify-content-start >
      <ion-col  >
        <ion-card color="primary" align-items-center class="card">
          <ion-card-content>
            <div><img class="img-card" src="../../assets/img/profilo.png" alt="logo"></div>
           Passare l'aspirapolvere
          </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col >
        <ion-card color="primary" align-items-center class="card">
          <ion-card-content align-items-center style="display: table;">
            <ion-label >Tutte le altre</ion-label>

          </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid  style="margin-bottom:2%;">
    <ion-row align-items-center justify-content-start >
      <ion-col >

          <img float-right class="img-icon" src="../../assets/img/profilo.png" alt="logo"> <br>
          <ion-label>Alleanza</ion-label>
      </ion-col>
      <ion-col>
        <img float-right class="img-icon" src="../../assets/img/profilo.png" alt="logo"> <br>
        <ion-label>Comportamento Problema</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
