<ion-header>
  <app-toolbar [title]="title" [noRightIcon]=true></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row justify-content-center align-items-center class="ion-margin-top">
      <ion-col size="12">
        <ion-col  *ngIf="!fileObj">
          <ion-avatar >
            <img src="../../assets/img/profilo.png"/>
        </ion-avatar>
           
          </ion-col>
      
          <ion-col *ngIf="fileObj">
            <ion-avatar >
              <img src={{fileObj.dataURI}}/>
          </ion-avatar>
             
            </ion-col>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-button (click)="PickFile()">Inserisci immagine profilo</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <h1 class="text-center">
          <b> {{this.caregiver.name}} {{this.caregiver.surname}}</b> 
        </h1>
        <ion-list>
          <ion-item lines="none">
            <h5> Email: <ion-label>{{this.caregiver.email}}</ion-label></h5>
          </ion-item>
          <ion-item lines="none">
            <h5>Tipo di utente: <ion-label>{{role[this.caregiver.user_type]}}</ion-label></h5>
          </ion-item>
          <ion-item lines="none">
            <h5>Telefono: <ion-label>{{this.caregiver.telephone}}</ion-label></h5>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-button (click)="logout()">Logout </ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
