<ion-header>
  <app-toolbar [title]="title" [noRightIcon]=true></app-toolbar>
</ion-header>

<ion-content>
  <app-ion-menu></app-ion-menu>

  <ion-grid >
    <!--
    <ion-row>
      <ion-col>
        <ion-row>
          <img class="imgProfilo" src="../../assets/img/profilo.png">
        </ion-row>
        
      </ion-col>
      <ion-col>
        
        <ion-row>
         
        </ion-row>
        <ion-row>
          <ion-item-divider>

          </ion-item-divider>
          
          
        </ion-row>
        <ion-row>
         <h5> Email: <ion-label>{{this.caregiver.email}}</ion-label></h5>
        </ion-row>
        <ion-row>
          <h5>Tipo di utente: <ion-label>{{role[this.caregiver.user_type]}}</ion-label></h5>
        </ion-row>

        <ion-row>
          <h5>telefono: <ion-label>{{this.caregiver.telephone}}</ion-label></h5>
        </ion-row>

        <ion-row>
          <ion-item-divider>

          </ion-item-divider>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button (click)="home()">Home </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button (click)="logout()">Logout </ion-button>
          </ion-col>
          
        </ion-row>
      </ion-col>
    </ion-row>
    -->
    <ion-row justify-content-center align-items-center class="ion-margin-top">
      <ion-col size="12">
        <img class="imgProfilo" src="../../assets/img/profilo.png" width="100" height="100">
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <h1 class="text-center">
          <b> {{this.caregiver.name}} {{this.caregiver.surname}}</b> 
        </h1>
        <ion-list>
          <ion-item lines="none">
            <h5> Email: <ion-label>{{this.caregiver.email}}</ion-label></h5>
          </ion-item>
          <ion-item lines="none">
            <h5>Tipo di utente: <ion-label>{{role[this.caregiver.user_type]}}</ion-label></h5>
          </ion-item>
          <ion-item lines="none">
            <h5>Telefono: <ion-label>{{this.caregiver.telephone}}</ion-label></h5>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-button (click)="logout()">Logout </ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
