ion-title{
    color: white;
    text-align: center;
}


ion-button{
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;
}
ion-item-divider{
    background-color:black;
    margin-left: 10%;
    padding-right:150px;

}
ion-card{
    --color:white;
    border:2px solid transparent;
    border-radius: 20px;
}


ion-searchbar{
    --background:#20203F;   
    color: white;
    width:80%;
}
.imgTask{
    width: 20%;
    margin-top: 10px;
}
ion-range{
    background-image: linear-gradient(to right, red, orange, yellow, green);
    height: 10px;
    --knob-size: 30px;
    --knob-background: white;
    --knob-box-shadow:  10px 10px 25px 7px grey;
    
}
ion-label{
    color:black;
}
