<ion-header>
  <ion-toolbar color="primary">

    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col>
          <ion-buttons >
            <ion-back-button color="secondary" defaultHref="home" (click)="goBack()"
              [ngClass]="[noLeftIcon ? 'notVisible' : '']"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-title style="text-align:center;">{{title}}</ion-title>
        </ion-col>
        <ion-col>
          <img class="imgProfilo" src="../../assets/img/profilo.png" (click)="openProfile()"
            >
        </ion-col>
      </ion-row>
  
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ion-menu></app-ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>

  <ion-searchbar name="searchText" [(ngModel)]="this.searchText" placeholder="Ricerca Task" type="text" debounce="200" (ionChange)="getItems($event)"></ion-searchbar>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" 
      size-xs="6" 
      size-sm="6" 
      size-md="4" 
      size-lg="3" *ngFor="let item of filterItems">
        <ion-card [ngClass]="(item.is_task_active==true)?'active':''" (click)="openTask(item)">
          <ion-card-title *ngIf="item.is_task_active==true">
            <ion-icon name="radio-button-on" color="success"></ion-icon>

          </ion-card-title>
         
          
          <ion-card-content>
            <ion-img [src]=item.icon></ion-img>

            {{item?.name}}
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="inserisciTask()">
      <ion-icon name="add" color="secondary" ></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>