<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>

        <ion-title style="text-align:center;">Lista Task</ion-title>
        <img class="imgProfilo" src="../../assets/img/profilo.png">
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-ion-menu></app-ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>

<ion-searchbar placeholder="Ricerca Task"></ion-searchbar>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" 
      size-xs="6" 
      size-sm="6" 
      size-md="4" 
      size-lg="3" *ngFor="let task of response">
        <ion-card [ngClass]="(task.is_task_active==true)?'active':''" (click)="openTask(task)">
          <ion-card-title *ngIf="task.is_task_active==true">
            <ion-icon name="radio-button-on" color="success"></ion-icon>

          </ion-card-title>
         
          
          <ion-card-content>
            <ion-img [src]=task.icon></ion-img>

            {{task?.name}}
            
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="inserisciTask()">
      <ion-icon name="add" color="secondary" ></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>